
header { position: fixed; z-index: 100; left: 0; top: 0; width: 100%; background-color: #fff; transition: .3s all;
    &:focus-within { z-index:500 }
    .logo { position: relative; z-index: 1; 
		img { max-height: 80px; }
	}
	.hd-container { flex:1; display: flex; }
	.hd-info { display: flex; align-items: center; justify-content: flex-end; flex: 1; }

    .pho { color: $primary; font-size:22px; } 
    .phy { color:$text; font-size: 16px; }
    .pho, .phy {  margin: 0; display: block; position: relative;
		&:hover  { color: $secondary;}
	}
	.hd-btns { display: flex; flex-wrap: wrap; flex: 0 1 280px; justify-content: space-between;
		[class^="btn"] { 
			margin: 0; 
		}
	}
}

// Desktop nav
@media (min-width:1025px) {
    .place-nav { max-width: 1300px;  margin: 0 auto; padding: 0 10px;  display: flex; justify-content: space-between; align-items: center; }
    nav { flex: 0 1 100%; background-color: $secondary }
    nav, nav ul li, nav ul li a {position: relative;}
    nav > ul { padding: 0; max-width: 980px; margin:auto;}
    nav ul {  margin: auto; list-style: none;  display: flex; justify-content: space-around;}
    nav ul li a { display: block;  color: #fff;}
    nav ul li a:hover { color: #fff; }
    nav > ul > li { flex: 1 1 auto; text-align: center;}
    nav > ul > li:last-of-type:after { display: none;}
    nav > ul > li > a { padding: 6px; font-size: 16px;  color: $text; span { color: $text;}}
    nav > ul > li:hover > a { color: $tertiary;}
    nav ul li:hover > ul { display:block; visibility: visible; animation-name: fadeIn;animation-duration: .25s;animation-fill-mode: both;}
    nav ul ul { display:none; min-width:280px; width: 100%; padding: 0;position: absolute; z-index: 3; left:0; text-align: left; background-color: $primary; box-shadow: 10px 17.3px 25px rgba(0, 0, 0, 0.2);}
    nav > ul > li:last-child ul { right: 0; left:auto;}
    nav ul ul li > a { padding: 10px 12px; font-size: 14px; line-height: 1.3; text-transform: none;  }
    nav ul ul li:hover > a { background-color: $tertiary; color: #fff;}
    nav ul ul ul { left:100%; top:0; background-color: $secondary;}
    nav ul ul ul li button i:before {content: '\e825' !important; }
    nav ul ul ul ul { top: auto; left: 0px; position: relative; display: block; box-shadow: none; background-color: darken($secondary, 10%); li a {padding-left: 2em; padding-left: 2em; } }
    nav ul ul ul ul li a { background-color: darken($secondary, 8%);}
    nav ul ul ul ul li:hover a{ background-color: darken($tertiary, 10%);} 
    .has-submenu span > a, .has-submenu button {display: inline-block; line-height: 1; color:white; }
    .has-submenu.open > ul { display: block; }
    .has-submenu.open > ul *:focus { background-color: rgba(255, 255, 255, 0.2);  }
    nav li button { display: inline-block;padding: 0;}
	nav > ul > li.has-submenu > a > button { color:$tertiary; }
}
// Scrolled nav
.fix-nav {
    header { position: fixed!important;  box-shadow: 0 3px 7px rgba(24, 23, 24, 0.35); animation-duration:1s; animation-fill-mode: both; z-index: 100; }
}

// mobile nav
@media (max-width:1024px) { 
    header .pho {font-size: 30px;}
    header .logo {padding: 8px; img {max-height: 70px;}}
    .hd-info, #hd-top, #main-nav, header nav ul, header .hd-btns, header [class^="btn"], header .phy  { display: none; }
    .nav-down {box-shadow: 0 3px 7px rgba(24, 23, 24, 0.2); }
    .nav-up {  transform: translateY(-100%); }    
	body,header,.mean-container .mean-nav{transition:all .3s}
    body{right:0} 
	.attach header{position:fixed!important;  box-shadow: 0 3px 7px rgba(24, 23, 24, 0.35);}
	.attach header .top-nav{display:none!important} 
	body.mean-active header{left:-80%; transform: none;}
	body.mean-active{overflow:hidden;right:80%}
	body.mean-active:before{z-index:98;content:'';opacity:.7;background-color:#000;position:absolute;left:0;right:0;top:0;bottom:0; background-image: none; height: inherit}
	body.mean-active .mean-container .mean-nav{right:0;}
   
	.mean-container { display: flex!important; flex-flow: row nowrap; align-items: center; justify-content: space-between}
    .mean-container .mean-bar {background-color:$tertiary;  width: 70px; min-height: 70px; display: flex; flex-direction: column; justify-content: center; align-items: center; align-self: stretch;  margin-left: 8px;}
    .mean-container .meanmenu-reveal{display:block;  color:#fff;}
	.mean-container a.meanmenu-reveal.meanclose i:before{transform:rotate(45deg); font-size: 60px; content: '+'; margin: -5px 0 0 8px;}
    .mean-container .mean-bar .icon-menu {position: relative; display: table; transition: .3s all;z-index: 1; margin: 0 0 5px 5px;  }
    .mean-container .meanmenu-reveal .icon-menu:before {font-size: 30px; content: '|||';  transform: rotate(90deg) scaleY(1.6); letter-spacing: 3.2px; }
    .mean-container .mean-bar .icon-menu:after, .mean-container .meanmenu-reveal.meanclose:after {
		content: 'MENU'; font-style: normal; position: absolute; left: 48%; transform: translateX(-50%); bottom: -10px; letter-spacing: 1px; font-size: .55em; font-weight: 700;
	}
    .mean-container .meanmenu-reveal.meanclose i:before{transform:rotate(45deg); font-size: 60px; content: '+'; margin: -5px 0 0 8px;}
    .mean-container .meanmenu-reveal.meanclose:after {content: 'CLOSE'; bottom: 5px}
    .mean-container .mean-nav { position:fixed;right:-80%;margin:0;top:0;bottom:0;width:80%;overflow:auto;display:flex;flex-flow:column; justify-content: flex-start; background-color: $tertiary; }
	.mean-container .mean-nav ul{ font-size:16px; padding:0;margin:0;width:100%;list-style-type:none }
	.mean-container .mean-nav ul li{position:relative;width:100%}
	.mean-container .mean-nav ul li a{display:block;padding:1em 5%;padding-right:58px!important;margin:0;text-align:left;color:#fff;border-top:1px solid rgba(white,.5);text-decoration:none;text-transform:uppercase}
	.mean-container .mean-nav ul li li a{padding:1em 10%;border-top:1px solid #f1f1f1;border-top:1px solid rgba(white,.25);opacity:.75;text-shadow:none!important;visibility:visible}
	.mean-container .mean-nav ul li.mean-first a{border-top:none;margin-top:0}
	.mean-container .mean-nav ul li.mean-last a{border-bottom:none;margin-bottom:0}
	.mean-container .mean-nav ul li li li a{padding:1em 15%}
	.mean-container .mean-nav ul li li li li a{padding:1em 20%}
	.mean-container .mean-nav ul li li li li li a{padding:1em 25%}
	.mean-container .mean-nav ul li a:hover{ background:#252525; background:rgba(white,.1) }
	.mean-container .mean-nav ul li a.mean-expand{ 
		width:48px;
		line-height:50px;
		font-size:20px;
		padding:0!important;
		text-align:center;
		position:absolute;
		right:0;
		top:0;
		z-index:2;
		background:rgba(white,.1);
		border:none!important;
		border-left:1px solid rgba(white,.4)!important;
		border-bottom:1px solid rgba(white,.4)!important
	}
	.mean-container .mean-nav ul li a.mean-expand:before{ content:'\e825';font-family:'fontello';font-weight:400;margin:0;font-style:normal }
	.mean-container .mean-nav ul li .mean-expand.mean-clicked:before{ content:'\e83a' }
	.mean-remove{display:none!important}
    .mean-nav .social { min-height: 66px; background-color: rgba(0,0,9,0.1); margin: 0; padding: 10px 5px; justify-content: center; }
    .mean-nav .fo-title{ color: #fff; text-align: center;}
    .mean-nav .hours{display: block; text-align: center; color: #fff;padding:10px; margin: 10px auto auto; }
	.mean-nav .hours p{ display: table; text-align: left; font-size: 15px; margin:10px auto 0; color: #fff;}
}

// CUBE FLIP NAV - v1 //
/*@media (min-width: 1001px) {
	header { position:fixed; left:0; top:0; right:0; z-index:99; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing: border-box; -moz-perspective:15000px; perspective: 15000px; -webkit-transition:top .5s; transition:top .5s }
	header .cube {
		max-width:1500px;
		margin:auto;
		width:100%;
		height:100%;
		position:relative;
		-webkit-transform-style:preserve-3d;
		transform-style:preserve-3d;
		-webkit-transform:translateZ(-40px);
		transform:translateZ(-40px);
		-webkit-transition:-webkit-transform .5s;
		transition:-webkit-transform .5s;
		transition:transform .5s;
		transition:transform .5s,-webkit-transform .5s;
	}
	header.top .menu-wrapper {
		border-bottom:1px solid rgba(255,255,255,0.2);
		background:0 0;
		display:flex;
		align-items:center;
		justify-content:center
	}
	header .menu-wrapper {
		border-bottom:1px solid #cfcece;
		position:absolute;
		height:100%;
		width:100%;
		background:#fff;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-transform:rotateX(90deg) translateZ(40px);
		transform:rotateX(90deg) translateZ(40px)
	}
	header.menu-open .cube { -webkit-transform:translateZ(-40px) rotateX(-90deg); transform:translateZ(-40px) rotateX(-90deg) }
	header .ctnt-wrapper { width:100%; height:100%; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-transform:rotateY(0) translateZ(40px); transform:rotateY(0) translateZ(40px); position:relative }
	header .ctnt-wrapper .menu-btn { top:0; bottom:0; width:90px; cursor:pointer; left:0; color:white; }
	.menu-btn { 
		border-right:1px solid white; 
		position:absolute; 
		top:0; 
		bottom:0; 
		width:90px; 
		cursor:pointer; 
		left:0; 
		color:#100e10; 
		text-align:center; 
		display:-webkit-box; 
		display:-ms-flexbox; 
		display:flex; 
		flex-direction:column; 
		justify-content:center; 
		align-items:center; 
		font-size:12px 
	}
	.menu-btn .menu-close {
		width:90px;
		display:flex;
		align-items:center;
		justify-content:center;
		bottom:0;
		left:0;
		top:0;
		position:absolute;
	}
	.menu-btn svg { max-width:100%; -webkit-transition:.3s all; transition:.3s all; fill:#100e10; max-width:40%; height:auto; margin:auto; display:table }
	.menu-btn .lines {
		width:40px;
		height:26px;
		margin-bottom: 5px;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		-ms-flex-direction:column;
		flex-direction:column;
		-ms-flex-pack:distribute;
		justify-content:space-around
	}
	.menu-btn .lines span { background:$primary; width:40px; height:1px; -webkit-box-flex:0; -ms-flex:0 0 2px; flex:0 0 2px; display:block }
	.menu-btn:hover svg { fill:#af1f24!important }
	.menu-btn:hover .lines { height:30px }
	#logo-sm { display:none }
	.place-nav { margin:0 auto; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between; margin-left:100px }
}*/  