#insure-form { max-width: 1200px; margin: -65px auto 0; background-color: $primary; border-radius: 4px; color:white; padding:30px; position: relative;
    h3 { font-size:30px; color:white; }
    #check-list { display: flex; align-items: center; justify-content: space-around; 
        p { margin:0; }
    }
    .btn { min-width: 223px;
        &:hover { background-color: white; color:$tertiary; 
            svg path { stroke: $tertiary; }
        }
    }
    select { max-width: 350px; background-color: transparent; 
        ::placeholder { color:white; }
    }
    .select2-container--default .select2-selection--single { background-color: transparent; border: none; border-bottom: 1px solid white; border-radius: 0px; color:white; font-size: 14px; }
    .select2-container--default .select2-selection--single .select2-selection__rendered { color:white!important; }
    .select2-container--default .select2-selection--single .select2-selection__arrow { background-color: white; }
    .insure-modal { position: absolute;
        left:50%;
        max-width: 600px;
        display: none;
        top:50%;
        transform: translate(-50%,-50%);
        background-color: $text;
        padding: 20px;
        .btn { margin-left: 0; }
        .h3 { color:white; }
    }
    .close-ins { position: absolute; right:10px; top:10px;  }

    .yep {
        width: 60px; height: 60px; flex:0 0 60px; line-height: 1; border: 2px solid #fff; border-radius: 50%; color:#fff;  font-size: 30px; display: flex; justify-content: center; align-items: center; margin: 10px 0;
        i {margin-top: 5px;}
    }
}